html {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif, Arial;
}

body {
    margin: 0 auto;
    background-color: lightblue;
}
.mine{
position: absolute;
bottom: 15%;
left:40%;
border: 3px solid #8AC007;
}